<!DOCTYPE html>
<html>
<head>
	<title>Express Hackathon Starter | <%= title %></title>
	<!-- <link rel="stylesheet" type="text/css" href="css/style.min.css"> -->
	<link rel="stylesheet" type="text/css"  href="css/bootstrap.css">

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-light navbar-expand">
				<ul class="navbar-nav">
					<li class="<%= (title == 'Home')? 'active' : ''%>"><a class="nav-link" href="/">Home <i class="fa fa-home"></i></a></li>
					<li><a class="nav-link" href="/about">About <i class="glyphicon glyphicon-edit"></i></a></li>
					<li><a class="nav-link" href="/articles">Articles <i class="glyphicon glyphicon-book"></i></a></li>
					<% if(locals.user  == null){ %>
						<li class="<%= (title == 'Sign-In')? 'active' : ''%>"><a class="nav-link" href="/login">SignIn <i class="glyphicon glyphicon-log-in"></i></a></li>
						<li class="<%= (title == 'Sign-Up')? 'active' : ''%>"><a class="nav-link" href="/register">SignUp <i class="glyphicon glyphicon-log-out"></i></a></li>
					<%}else{%>
						<li class=""><a class="nav-link" href="/user/logout">Logout <i class="glyphicon glyphicon-log-out"></i></a></li>
					<%}%>
				</ul>
			</nav>
		</div>