<%- include('layouts/header'); %>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<%if ( locals.messages ) { %>
						<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert">
							&times;
						</button>
						<% (messages.split("\n")).forEach(function(msg) { %>
						     <%- msg %>			        
				        <% }); %>
				        </div>
					<% } %>
					<div class="jumbotron">
					    <h1 style="color: grey;font-style: italic;">Express Hackathon Starter</h1>
					    <p>Let's Get Started......</p>
					</div>
				</div>
			</div>
		</div>
		
<%- include('layouts/footer'); %>