<!DOCTYPE html>
<html>
<head>
	<title>Express Hackathon Starter</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/font.css">
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.js"></script>
</head>
<body>
	<div class="container">
		<!-- <% if ( success.length > 0 ) { %>
		  <p>Message: <%= success %> </p>
		<% } %> -->
		<div class="jumbotron">
		    <h1 style="color: grey;font-style: italic;">Express Hackathon Starter</h1>
		    <p>Let's Get Started......</p>
		</div>
		
	</div>
</body>
</html>