<!DOCTYPE html>
<html>
<head>
	<title>Express Hackathon Starter</title>
</head>
<body>
	<center>
		<% if ( success.length > 0 ) { %>
		  <p>Message: <%= success %> </p>
		<% } %>
		<h2 style="color: grey;font-style: italic;">Express Hackathon Starter</h2>
	</center>
</body>
</html>